<div class="well">
  <h2>Thanks for buying, fill out this info: </h2>
    <input type="text" name="fname" placeholder="First name"><br>
    <input type="text" name="lname" placeholder="Last name"><br>
    <div class='button'><a href="#completed"> submit </a></div>
</div>
