<div class="well">
  <h3> WE'VE added a _______ to your cart!</h3>
  <p> 
    Click <a href="#buynow"> here </a> if you want to buy now.
    Click <a href="#index"> here </a> if you want to continue shopping.

</div>
