<div class="well">
  <abclass test-name="headingColor" test-classes="pink, blue">
  <h1> Completed! </h1>
  </abclass>
  <p> Yes! We have transfered all your bank account information from your browsers cache to our servers. Feel safe knowing your money will be spent well. </p>
</div>