<div class="well">
  <h1> Completed! </h1>
  <p> Yes! We have transfered all your bank account information from your browsers cache to our servers. Feel safe knowing your money will be spent well. </p>
</div>