<div class="well">
  <h4 class="well-title"> Where I Am </h4>
    <abtest test-name='header_name'>
      <p exp-name='red'>Hello in Red</p>
      <p exp-name='green'>Hello in Green</p>
    </abtest>

    <abtest class-name='style_type'>
      <exp-name='bold' style='font-weight: bold;'>PLEASE STOP LOOKING AT INFO ON THIS ANIMAL</p>
      <exp-name='italic' style='font-style: italic;'>Please stop looking at info for this animal</p>
    </abtest>
</div>

