<div class="main-landing jumbotron">
	<h3>Hi </h3>
  <p> Please buy my product! </p>
    <abtest test-name='animals'>
      <img exp-name='cow' src='images/cow.png'/>
      <img exp-name='pig' src='images/pig.jpeg'/>
    </abtest>
</div>