<div class = "panel-footer">
  <abtest test-name="social link">
    <div xp-name="github" class="social-icon">
      <a href="#buynow" target="_blank">
        <img src="images/github.png">
      </a>
    </div>
    <div xp-name="googleplus" class="social-icon">
      <a href="#buynow" target="_blank">
        <img src="images/googleplus-revised.png">
      </a>
   </div>
    <div xp-name="linkedin" class="social-icon">
      <a href="#buynow" target="_blank">
        <img src="images/linkedin.png">
      </a>
    </div>
    <div xp-name="facebook" class="social-icon"> 
      <a href="#buynow" target="_blank">
        <img src="images/facebook.png">
      </a>
   </div>
    <div xp-name="twitter" class="social-icon">
      <a href="#buynow" target="_blank">
        <img src="images/twitter.png">
      </a>
    </div>
    <div xp-name="email" class="social-icon">
      <a href="#buynow">
        <img src="images/email.png">
      </a>
    </div>
  </abtest>

</div>